@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: Gilroy-Light;
  src: url(./assets/fonts/Gilroy-Light.otf);
}
@font-face {
  font-family: Gilroy-ExtraBold;
  src: url(./assets/fonts/Gilroy-ExtraBold.otf);
}
$primary: #2ecc82;
$primary-hover: #24aa6c;
$black: #181818;
$text: #878787;

*,
*::after,
*::before {
  box-sizing: border-box;
}
.heading {
  font-family: Gilroy-ExtraBold, "Jost", sans-serif;
  font-weight: 900;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Jost", sans-serif;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 15px;
}
body::-webkit-scrollbar-thumb {
  background-color: $primary;
  border-radius: 50px;
}
body::-webkit-scrollbar-track {
  background-color: $black;
}
.header {
  width: 100%;
  position: absolute;
  z-index: 9999;
}
.header__active {
  transition: 300ms ease-in-out;
  background-color: $black;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}
.header__content {
  width: 100%;
  max-width: 1366px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0em auto;
  padding: 1.2em 2em;
}
.header__content__logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__content__logo__img {
  width: 120px;
}
.header__content__menu {
  width: 38px;
  height: 38px;
  background-color: $primary;
  border-radius: 5px;
  color: black;
  border: none;
  cursor: pointer;
  padding: 0em;
  display: none;
  align-items: center;
  justify-content: center;
}
.header__content__menu:hover {
  background-color: $primary-hover;
}
.header__content__nav {
  display: flex;
  align-items: center;
}
.header__content__nav__link {
  padding: 0em 1em;
  height: 38px;
  font-size: 18px;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.header__content__nav__link:hover {
  transition: 300ms ease-in-out;
  color: $primary;
}
.header__content__nav .active {
  transition: 300ms ease-in-out;
  color: $primary;
}
.header__content__nav .header__content__cta__button {
  display: none;
}
.header__content__cta {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__content__cta__button {
  height: 38px;
  padding: 0em 2em;
  background-color: $primary;
  border: none;
  border-radius: 5px;
  margin-left: 1em;
  display: flex;
  align-items: center;
  color: $black;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}
.header__content__cta__button:hover {
  transition: 300ms ease-in-out;
  background-color: $primary-hover;
}
.home__jumbotron {
  width: 100%;
  height: 100vh;
  max-height: 1000px;
  background-color: $black;
  overflow: hidden;
  position: relative;
}
.home__jumbotron__svg1 {
  position: absolute;
  top: -100px;
  left: 300px;
}
.home__jumbotron__svg2 {
  position: absolute;
  bottom: 0px;
  left: 0px;
}
.home__jumbotron__svg3 {
  position: absolute;
  top: 0px;
  right: 0px;
}
.home__jumbotron__svg4 {
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.home__jumbotron__content {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1366px;
  height: 100%;
  padding: 0em 2em;
  margin: 0em auto;
  z-index: 1;
  position: relative;
}
.home__jumbotron__content__left {
  width: 50%;
}
.home__jumbotron__content__left__heading {
  font-size: 60px;
  color: white;
  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing: 1px;
  margin-bottom: 0.5em;
}
.home__jumbotron__content__left__heading span {
  color: $primary;
  letter-spacing: 3px;
  width: auto;
  text-decoration: underline;
}
.home__jumbotron__content__left__info {
  color: $text;
  font-size: 16px;
  margin-bottom: 2em;
  width: 100%;
  max-width: 500px;
}
.home__jumbotron__content__left__button {
  color: white;
  border-radius: 5px;
  border: 1px solid $text;
  padding: 0.5em 2em;
  text-decoration: none;
  font-weight: 500;
}
.home__jumbotron__content__left__button:hover {
  transition: 300ms ease-in-out;
  border-color: $primary;
  background-color: $primary;
  color: $black;
}
.home__jumbotron__content__right {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home__jumbotron__content__right__img {
  width: 100%;
  user-select: none;
  animation: slidedown 4s infinite both;
}
@keyframes slidedown {
  0% {
    opacity: 100;
  }
  25% {
    opacity: 50;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 50;
  }
  100% {
    opacity: 100;
  }
}
.home__services {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: fit-content;
  justify-content: center;
  position: relative;
  overflow: hidden;
  padding: 7em 0em;
}
.home__services__heading {
  font-size: 45px;
  letter-spacing: 1px;
  font-weight: 900;
  text-align: center;
  margin-bottom: 0.3em;
  padding: 0em 1em;
}
.home__services__sub__heading {
  background-color: $primary;
  color: white;
  padding: 0em 0.3em;
  font-size: 45px;
  letter-spacing: 1px;
  font-weight: 900;
  text-align: center;
  margin: 0em 1em;
  margin-bottom: 0.5em;
}
.home__services__info {
  color: $text;
  width: 100%;
  max-width: 700px;
  text-align: center;
  font-size: 16px;
  padding: 0em 1em;
}
.home__services__content {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1366px;
  padding: 3em 2em;
  justify-content: space-between;
  flex-wrap: wrap;
}
.home__services__content__card {
  width: 23%;
  border: 1px solid $text;
  background-color: white;
  padding: 2.5em;
  text-decoration: none;
  border-radius: 10px;
  outline: 1px solid transparent;
}
.home__services__content__card__img {
  height: 70px;
}
.home__services__content__card__heading {
  font-size: 20px;
  font-weight: bold;
  margin: 1em 0em;
  width: 100%;
  max-width: 150px;
  color: $black;
  line-height: 130%;
}
.home__services__content__card__info {
  width: 100%;
  font-size: 16px;
  color: $text;
  width: 100%;
}
.home__services__content__card:hover {
  transition: 300ms ease-in-out;
  border-color: $primary;
  border-width: 1px;
  outline-color: $primary;
}
.home__services__button {
  background-color: white;
  border: 1px solid $text;
  color: $black;
  text-decoration: none;
  padding: 0.5em 2em;
  font-weight: 500;
  border-radius: 5px;
}
.home__services__button:hover {
  transition: 300ms ease-in-out;
  border-color: $primary;
  background-color: $primary;
  color: $black;
}
.home__services__svg1 {
  position: absolute;
  top: 100px;
  left: 0px;
  z-index: -1;
}
.home__services__svg2 {
  position: absolute;
  top: calc(50% - 100px);
  right: 0px;
  z-index: -1;
}
.home__stats {
  position: relative;
  width: 100%;
  background-color: $black;
  padding: 6em 0em;
  display: flex;
  align-items: center;
}
.home__stats__svg {
  position: absolute;
  right: 0px;
  top: -150px;
  height: 500px;
}
.home__stats__content {
  width: 100%;
  max-width: 1366px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0em auto;
  padding: 0em 2em;
  flex-wrap: wrap;
}
.home__stats__content__entry {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}
.home__stats__content__entry__heading {
  font-size: 60px;
  margin-right: 0.5em;
  font-weight: bold;
  color: $primary;
}
.home__stats__content__entry__content {
  font-size: 18px;
  width: 100%;
  max-width: 200px;
  color: white;
}
.home__work {
  width: 100%;
  position: relative;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7em 0em;
  overflow: hidden;
}
.home__work__svg {
  position: absolute;
  right: 0px;
  z-index: -1;
}
.home__work__heading {
  font-size: 45px;
  text-align: center;
  padding: 0em 2em;
}
.home__work__item {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1366px;
  padding: 2em;
}
.home__work__item__img {
  max-width: 75%;
}
.home__work__item__content {
  width: 25%;
  margin-left: 2em;
  border: 1px solid $text;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2.5em;
  border-radius: 10px;
}
.home__work__item__content:hover {
  background-color: $black;
}
.home__work__item__content:hover .home__work__item__content__sub__heading {
  transition: 300ms ease-in-out;
  color: white;
}
.home__work__item__content:hover .home__work__item__content__info {
  transition: 300ms ease-in-out;
  color: white;
}
.home__work__item__content__sub__heading {
  font-size: 18px;
  color: $black;
  font-weight: bold;
}
.home__work__item__content__heading {
  font-size: 30px;
  font-weight: bold;
  color: $primary;
  margin: 0.1em 0em;
}
.home__work__item__content__info {
  font-size: 16px;
  color: $text;
}
.home__work__seletion {
  display: flex;
  background-color: white;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
  padding: 0em 2em;
  border-radius: 10px;
  border: 1px solid $primary;
  max-width: calc(100% - 4em);
  overflow-x: auto;
  overflow-y: hidden;
  margin: 0em 2em;
}
.home__work__seletion::-webkit-scrollbar {
  height: 5px;
}
.home__work__seletion::-webkit-scrollbar-thumb {
  background-color: $black;
  border-radius: 5px;
}
.home__work__seletion__entry {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home__work__seletion__entry__input {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  cursor: pointer;
}
.home__work__seletion__entry__img {
  width: 150px;
  padding: 1em;
  mix-blend-mode: luminosity;
}
.home__work__seletion__entry__input:hover ~ .home__work__seletion__entry__img {
  mix-blend-mode: normal;
}
.home__work__seletion__entry__input:checked
  ~ .home__work__seletion__entry__img {
  mix-blend-mode: normal;
}
.home__work__button {
  padding: 0.5em 2em;
  background-color: $primary;
  color: white;
  margin-top: 2em;
  text-decoration: none;
  font-weight: 500;
  border-radius: 5px;
}
.home__work__button:hover {
  background-color: $primary-hover;
}
.home__technologies {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ebebeb;
  position: relative;
  padding: 7em 2em;
}
.home__technologies__img {
  position: absolute;
  top: 200px;
  left: 0px;
}
.home__technologies__heading {
  font-size: 45px;
  width: 100%;
  max-width: 700px;
  text-align: center;
  margin-bottom: 0.5em;
  letter-spacing: 1px;
}
.home__technologies__info {
  width: 100%;
  max-width: 700px;
  text-align: center;
  color: $text;
  margin-bottom: 2em;
}
.home__technologies__content {
  width: 100%;
  max-width: 1366px;
  padding: 2em;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: -2em;
}
.home__technologies__content__entry {
  width: 30%;
  padding: 2.5em;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 3em;
  position: relative;
  z-index: 50;
  transition: 300ms ease-in-out;
}
.home__technologies__content__entry::before {
  content: "";
  position: absolute;
  top: 4%;
  left: 4%;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: -2;
  border-radius: 5px;
  transition: 300ms ease-in-out;
}
.home__technologies__content__entry::after {
  content: "";
  position: absolute;
  top: 8%;
  left: 8%;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: -2;
  border-radius: 5px;
  transition: 300ms ease-in-out;
}
.home__technologies__content__entry__img {
  height: 50px;
}
.home__technologies__content__entry__heading {
  font-size: 20px;
  color: $black;
  font-weight: bold;
  margin: 0.5em 0em;
}
.home__technologies__content__entry__info {
  font-size: 16px;
  color: $text;
}
.home__technologies__content__entry:hover {
  transition: 300ms ease-in-out;
  transform: scale(1.05);
}
.home__technologies__content__entry:hover::before {
  transition: 300ms ease-in-out;
  left: 3%;
  top: 3%;
}
.home__technologies__content__entry:hover::after {
  transition: 300ms ease-in-out;
  left: 6%;
  top: 6%;
}
.home__engagement {
  width: 100%;
  position: relative;
  height: 100vh;
  max-height: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.home__engagement__svg {
  position: absolute;
  top: -250px;
  right: -200px;
  z-index: -1;
}
.home__engagement__svg1 {
  position: absolute;
  bottom: -300px;
  right: -100px;
  z-index: -1;
}
.home__engagement__heading {
  font-size: 45px;
  margin-bottom: 0.5em;
  text-align: center;
  padding: 0em 2em;
}
.home__engagement__info {
  color: $text;
  font-size: 16px;
  margin-bottom: 2em;
  padding: 0em 2em;
  text-align: center;
}
.home__engagement__content {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1366px;
  justify-content: center;
  padding: 2em;
  flex-wrap: wrap;
}
.home__engagement__content__card {
  width: 42%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: $black;
  border-radius: 10px;
  position: relative;
  padding: 2.5em;
  min-height: 400px;
  text-decoration: none;
  border: 3px solid transparent;
}
.home__engagement__content__card:first-child {
  margin-right: 4em;
}
.home__engagement__content__card:first-child
  .home__engagement__content__card__svg {
  width: 250px;
  height: 250px;
  top: -60px;
  right: -60px;
}
.home__engagement__content__card::after {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  border-radius: 10px;
  width: 50px;
  height: 50px;
  background-color: $black;
}
.home__engagement__content__card__img {
  height: 150px;
}
.home__engagement__content__card__svg {
  position: absolute;
  top: -30px;
  right: -30px;
  width: 200px;
  height: 200px;
}
.home__engagement__content__card__heading {
  font-size: 25px;
  color: white;
  margin: 1em 0em;
  margin-bottom: 0.5em;
  width: 100%;
  max-width: 400px;
  font-family: Gilroy-Light, "jost", sans-serif;
  letter-spacing: 2px;
  font-weight: bold;
}
.home__engagement__content__card__info {
  font-size: 16px;
  color: $text;
  width: 100%;
  max-width: 380px;
  margin-bottom: 1em;
}
.home__engagement__content__card:hover {
  transition: 300ms ease-in-out;
  border-color: $primary;
}
.home__development__process {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  position: relative;
}
.home__development__process__svg {
  position: absolute;
  top: -200px;
  right: -100px;
  z-index: -1;
}
.home__development__process__heading {
  font-size: 45px;
  margin-bottom: 0.5em;
  max-width: 700px;
  width: 100%;
  padding: 0em 2em;
  text-align: center;
}
.home__development__process__info {
  font-size: 16px;
  color: $text;
  margin-bottom: 2em;
  max-width: 700px;
  width: 100%;
  text-align: center;
  padding: 0em 2em;
}
.home__development__process__img {
  width: 100%;
  max-width: 1200px;
  padding: 2em;
  max-height: 600px;
}
.home__techonologies {
  position: relative;
  padding: 7em 0em;
  overflow: hidden;
}
.home__techonologies__svg1 {
  position: absolute;
  top: calc(50% - 150px);
  left: 0px;
  height: 300px;
  z-index: -1;
}
.home__techonologies__svg2 {
  position: absolute;
  top: calc(50% - 200px);
  left: 100px;
  height: 400px;
  z-index: -1;
}
.home__techonologies__content {
  width: 100%;
  max-width: 1366px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0em 2em;
  margin: 0em auto;
}

.home__techonologies__content__left__heading {
  font-size: 45px;
  color: $black;
  margin-bottom: 0.5em;
}
.home__techonologies__content__left__info {
  color: $text;
  width: 100%;
  max-width: 500px;
}
.home__techonologies__content__right {
  display: flex;
  margin-left: 4em;
  justify-content: flex-end;
}
.home__techonologies__content__right__img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.home__techonologies__content__img__wrapper {
  border: 1px solid $text;
  border-radius: 50%;
  padding: 1em;
  position: relative;
}
.home__techonologies__content__img__wrapper::after {
  content: "";
  position: absolute;
  top: -5%;
  left: -5%;
  height: 110%;
  width: 110%;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.3);
  z-index: -1;
  animation: home__techonologies__content__img__wrapper 1100ms infinite;
}
.home__techonologies__content__img__wrapper::before {
  content: "";
  position: absolute;
  top: -10%;
  left: -10%;
  height: 120%;
  width: 120%;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.05);
  z-index: -2;
  animation: home__techonologies__content__img__wrapper 1000ms infinite;
}
@keyframes home__techonologies__content__img__wrapper {
  from {
    scale: 0.9;
    opacity: 0;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}
.home__testmonials {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  padding: 5em 0em;
}
.home__testmonials__svg {
  position: absolute;
  top: -200px;
  right: 0px;
}
.home__testmonials__heading {
  font-size: 45px;
  margin-bottom: 0.5em;
  text-align: center;
  padding: 0em 2em;
}
.home__testmonials__info {
  font-size: 16px;
  color: $text;
  text-align: center;
  margin-bottom: 2em;
  padding: 0em 2em;
}
.home__testmonials__content {
  background: url("./assets/testimonialImage.png"), no-repeat;
  background-size: cover;
  width: 100%;
  max-width: 1366px;
  padding: 2em;
  margin: 0em auto;
}
.home__testmonials__content__users {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
}
.home__testmonials__content__users__entry {
  position: relative;
  margin: 3em;
}
.home__testmonials__content__users__entry__input {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: 1;
  cursor: pointer;
  opacity: 0;
}
.home__testmonials__content__users__entry__img {
  width: 120px;
  height: 120px;
  border-radius: 120px;
  padding: 0em;
  border: 10px solid transparent;
  overflow: hidden;
  user-select: none;
  outline: 10px solid rgba(36, 170, 108, 0.1);
}
.home__testmonials__content__users__entry:nth-child(even) {
  margin-top: 10em;
}
.home__testmonials__content__users__entry:nth-child(odd) {
  margin-bottom: 10em;
}
.home__testmonials__content__users__entry__input:hover
  ~ .home__testmonials__content__users__entry__img,
.home__testmonials__content__users__entry__input:checked
  ~ .home__testmonials__content__users__entry__img {
  transition: 300ms ease-in-out;
  border-color: $primary;
}
.home__testmonials__content__details {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: $black;
  padding: 2em;
  text-align: center;
  border-radius: 10px;
  width: 100%;
  max-width: 800px;
  margin: 0em auto;
}
.home__testmonials__content__details__info {
  color: $text;
  font-size: 16px;
}
.home__testmonials__content__details__heading {
  margin: 0.5em 0em;
  font-size: 20px;
  color: $primary;
  font-weight: bold;
}
.home__testmonials__content__details__sub__heading {
  font-size: 18px;
  color: white;
}
.home__help {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home__help__heading {
  font-size: 45px;
  margin-bottom: 0.5em;
}
.home__help__heading span {
  margin: 0em 0.2em;
}
.home__help__info {
  font-size: 16px;
  color: $text;
  margin-bottom: 1em;
  padding: 0em 2em;
  text-align: center;
}
.home__help__slogan {
  width: 100%;
  max-width: 1000px;
  text-align: center;
  font-size: 40px;
  margin-top: 50px;
  margin-bottom: 50px;
  position: relative;
  color: $primary;
  padding: 0em 2em;
  font-family: Gilroy-Light;
  font-weight: bolder;
  font-style: italic;
}
.home__help__slogan span {
  font-weight: bold;
  font-size: 70px;
}
.home__help__slogan span:last-child {
  vertical-align: top;
}
.home__help__slogan__svg {
  position: absolute;
  top: -80px;
  height: 400px;
  left: calc(50% - 200px);
  width: 400px;
  z-index: -1;
}
.home__help__content {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1366px;
  margin: 0em auto;
  padding: 0em 2em;
  flex-wrap: wrap;
}
.home__help__content__entry {
  display: flex;
  align-items: center;
  flex: 1;
  padding: 1.5em 2em;
  border: 1px solid transparent;
  border-radius: 10px;
}
.home__help__content__entry__img {
  margin-right: 2em;
}
.home__help__content__entry__heading {
  font-size: 18px;
  color: $black;
  display: flex;
  flex-direction: column;
}
.home__help__content__entry__heading span {
  font-weight: bold;
  font-size: 25px;
}
.home__help__content__entry:hover {
  transition: 300ms ease-in-out;
  border-color: $black;
}
.home__blog {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7em 0em;
}
.home__blog__heading {
  font-size: 45px;
  margin-bottom: 1.5em;
  width: 100%;
  max-width: 1000px;
  text-align: center;
  padding: 0em 2em;
}
.home__blog__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1366px;
  padding: 0em 2em;
  flex-wrap: wrap;
}
.home__blog__content__entry {
  position: relative;
  width: 32%;
  height: 350px;
  border-radius: 10px;
  overflow: hidden;
  padding: 0em;
  border: none;
}
.home__blog__content__entry__img {
  width: 100%;
  height: 100%;
}
.home__blog__content__entry__content {
  position: absolute;
  bottom: 0em;
  left: 0px;
  height: 100%;
  width: 100%;
  background: linear-gradient(transparent, rgb(36, 36, 36, 0.7), #000000);
  display: flex;
  align-items: flex-end;
  padding: 2.5em;
}
.home__blog__content__entry__content__heading {
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-align: left;
  line-height: 150%;
}
.home__blog__content__entry:hover .home__blog__content__entry__content {
  transition: all 300ms;
  background: linear-gradient(transparent, $primary-hover);
}
.home__newsletter {
  position: relative;
  width: 100%;
  background-color: $black;
}
.home__newsletter__svg {
  position: absolute;
  top: 100px;
  right: -50px;
  height: 300px;
}
.home__newsletter__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 300px;
  width: 100%;
  max-width: 1366px;
  margin: 0em auto;
  padding: 0em 2em;
}
.home__newsletter__content__left {
  flex: 1;
}
.home__newsletter__content__left__heading {
  font-size: 45px;
  color: white;
  margin-bottom: 0.5em;
}
.home__newsletter__content__left__info {
  font-size: 16px;
  color: $text;
  width: 100%;
  max-width: 500px;
}
.home__newsletter__content__right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 2;
}
.home__newsletter__content__right__input {
  display: flex;
  flex-direction: column;
  height: 50px;
  border: 1px solid $text;
  margin-bottom: 1em;
  width: 100%;
  max-width: 400px;
  border-radius: 5px;
  position: relative;
}
.home__newsletter__content__right__input__field {
  border: none;
  outline: none;
  height: 100%;
  padding: 0em 1em;
  background-color: $black;
  color: white;
  font-size: 15px;
  border-radius: 5px;
}
.home__newsletter__content__right__input:hover {
  border-color: $primary;
  outline: 1px solid $primary;
}
.home__newsletter__content__right__input:checked {
  border-color: $primary;
  outline: 1px solid $primary;
}
.home__newsletter__content__right__input__error {
  position: absolute;
  bottom: -30px;
  color: red;
}
.home__newsletter__content__right__input__success {
  position: absolute;
  bottom: -30px;
  color: $primary;
}
.home__newsletter__content__right__button {
  height: 45px;
  padding: 0em 3em;
  background-color: $primary;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.home__newsletter__content__right__button:hover {
  transition: 300ms ease-in-out;
  background-color: $primary-hover;
}
.contact {
  position: relative;
  height: 100vh;
  max-height: 1000px;
}
.contact__content {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 1366px;
  padding: 0em 2em;
  margin: 0em auto;
  justify-content: space-between;
}
.contact__content__left {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: 4em;
}
.contact__content__left__heading {
  font-size: 45px;
  margin-bottom: 1em;
}
.contact__content__left__row {
  display: flex;
  align-items: center;
}
.contact__content__left__row .contact__content__left__input:first-child {
  margin-right: 1em;
}
.contact__content__left__input {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 2.5em;
  min-height: 45px;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.3);
  outline: 1px solid transparent;
  border-radius: 5px;
}
.contact__content__left__input__field {
  height: 100%;
  flex: 1;
  border: none;
  outline: none;
  padding: 0em 1em;
  background-color: transparent;
  width: 100%;
}
textarea {
  font-size: 16px;
  resize: none;
  max-height: 180px;
}
.contact__content__left__input__label {
  position: absolute;
  top: -28px;
}
.contact__content__left__input__label span {
  color: red;
}
.contact__content__left__input__error {
  position: absolute;
  top: -28px;
  right: 0px;
  color: red;
  font-size: 16px;
}
.contact__content__right {
  flex: 1;
  position: relative;
}
.contact__content__right__svg {
  position: absolute;
  width: 400px;
  top: -100px;
  left: -100px;
  z-index: -1;
}
.contact__content__right__img {
  max-width: 100%;
}
.contact__content__left__input:hover {
  border-color: $primary;
  outline-color: $primary;
}
.contact__content__left__input:focus-within {
  border-color: $primary;
  outline-color: $primary;
}
.contact__content__left__button {
  margin-left: auto;
  height: 45px;
  padding: 0em 3em;
  background-color: $primary;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
}
.contact__content__left__button:hover {
  background-color: $primary-hover;
}
.contact__overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact__overlay__img {
  width: 100%;
  max-width: 200px;
  margin-bottom: 2em;
}
.contact__overlay__heading {
  font-size: 20px;
  font-weight: bold;
}
.about__jumbotron {
  display: flex;
  background-color: $black;
  min-height: 650px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.about__jumbotron__heading {
  font-size: 60px;
  color: white;
  text-align: center;
  padding: 0em 2em;
  letter-spacing: 1px;
  margin-bottom: 0.5em;
  z-index: 1;
}
.about__jumbotron__info {
  text-align: center;
  font-size: 16px;
  padding: 0em 2em;
  color: $text;
  z-index: 1;
  line-height: 170%;
}
.about__ceo__message {
  width: 100%;
  padding: 7em 0em;
}
.about__ceo__message__content {
  width: 100%;
  max-width: 1366px;
  margin: 0em auto;
  display: flex;
  align-items: center;
  padding: 0em 2em;
}
.about__ceo__message__content__left {
  width: 40%;
}
.about__ceo__message__content__left__heading {
  font-size: 45px;
  margin-bottom: 0.5em;
  width: 100%;
  max-width: 400px;
}
.about__ceo__message__content__left__info {
  color: $text;
  font-size: 16px;
}
.about__ceo__message__content__right {
  margin-left: 5em;
  width: 60%;
  padding-left: 5em;
  min-height: 250px;
  display: flex;
  align-items: center;
  background: linear-gradient(
    90deg,
    $primary,
    transparent,
    transparent,
    transparent
  );
  position: relative;
  border-radius: 20px;
}
.about__ceo__message__content__right__img {
  position: absolute;
  top: calc(50% - 65px);
  left: -65px;
  width: 130px;
  height: 130px;
  border: 10px solid white;
  outline: 10px solid rgba(255, 255, 255, 0.5);
  border-radius: 120px;
}
.about__ceo__message__content__right__info {
  font-size: 22px;
  color: $black;
  width: 100%;
  max-width: 400px;
  margin-left: 3em;
  font-weight: bold;
  text-align: justify;
}
.about__our {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0em auto;
  padding: 0em 2em;
}
.about__our__entry {
  background: linear-gradient(transparent, #dddddd);
  width: 48%;
  padding: 3em;
  border-radius: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.about__our__entry__img {
  width: 200px;
}
.about__our__entry__heading {
  font-size: 40px;
  margin: 0.7em 0em;
}
.footer {
  width: calc(100% - 4em);
  padding: 5em 1em;
  background-color: $black;
  border-radius: 10px;
  margin: 2em;
  position: relative;
}
.footer__svg1 {
  position: absolute;
  top: -200px;
  left: -2em;
  width: 160px;
}
.footer__svg2 {
  position: absolute;
  bottom: -2em;
  right: -2em;
  width: 200px;
}
.footer__content {
  width: 100%;
  max-width: 1366px;
  margin: 0em auto;
  padding: 0em 2em;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer__content__col {
  flex: 1;
  margin-right: 2em;
  display: flex;
  flex-direction: column;
}
.footer__content__col:first-child {
  min-width: 30%;
}
.footer__content__col:last-child {
  margin-right: 0em;
}
.footer__content__col__info {
  font-size: 18px;
  color: $text;
  margin: 2em 0em;
  width: 100%;
  max-width: 300px;
  text-align: justify;
}
.footer__content__col__socials {
  display: flex;
  align-items: center;
}
.footer__content__col__socials__link {
  margin-right: 2em;
  color: white;
}
.footer__content__col__socials__link svg {
  width: 25px;
  height: 25px;
}
.footer__content__col__socials__link:hover {
  transition: 300ms ease-in-out;
  color: $primary;
}
.footer__content__col__heading {
  font-size: 26px;
  font-weight: bold;
  color: $primary;
  margin-bottom: 1em;
}
.footer__content__col__link {
  font-size: 18px;
  color: $text;
  margin-bottom: 0.7em;
  text-decoration: none;
}
.footer__content__col__link:hover {
  transition: 300ms ease-in-out;
  color: $primary;
}
.footer__content__col__row {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}
.footer__content__col__row__link {
  font-size: 18px;
  color: $text;
  margin-bottom: 0.7em;
  text-decoration: none;
  cursor: pointer;
}
.footer__content__col__row__link:hover {
  transition: 300ms ease-in-out;
  color: $primary;
}
.footer__content__col__row {
  font-size: 18px;
  color: $text;
}
.about__team {
  margin: 0em auto;
  width: 100%;
  max-width: 1366px;
  padding: 7em 2em;
}
.about__team__svg {
  position: absolute;
  left: 0px;
  margin-top: -10em;
  width: 200px;
}
.about__team__heading {
  font-size: 45px;
  margin-bottom: 1.5em;
  text-align: center;
}
.about__team__content {
  display: flex;
  flex-wrap: wrap;
}
.about__team__content__entry {
  width: 16.6%;
  aspect-ratio: 1/1;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  background-color: white;
  transition: 300ms ease-in-out;
}
.about__team__content__entry__img {
  width: 100%;
  mix-blend-mode: luminosity;
  min-height: 100%;
}
.about__team__content__entry__content {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 0;
  padding: 1em;
}
.about__team__content__entry__content__heading {
  font-size: 20px;
  font-weight: bold;
  color: white;
  margin-bottom: 0.1em;
  text-align: center;
}
.about__team__content__entry__content__info {
  font-size: 16px;
  color: white;
  text-align: center;
}
.about__team__content__entry:hover {
  transition: 300ms ease-in-out;
  transform: scale(1.2);
  z-index: 5;
  border-radius: 10px;
}
.about__team__content__entry:hover .about__team__content__entry__content {
  transition: 300ms ease-in-out;
  background-color: rgb(36, 170, 108, 0.7);
  opacity: 1;
}
.about__our__development__process {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  position: relative;
}
.about__our__development__process__svg {
  position: absolute;
  top: -150px;
  right: 0px;
  z-index: -1;
}
.about__our__development__process__heading {
  font-size: 45px;
  margin-bottom: 1em;
}
.about__our__development__process__img {
  width: 100%;
  max-width: 1366px;
  margin: 0em auto;
}
.about__core__values {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
  background: linear-gradient(#ebebeb, transparent);
  margin-top: 5em;
  padding: 7em 0em;
}
.about__core__values__heading {
  font-size: 45px;
  margin-bottom: 2em;
}
.about__core__values__content {
  width: 100%;
  max-width: 1366px;
  padding: 0em 2em;
  margin: 0em auto;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}
.about__core__values__content__entry {
  background-color: white;
  border-radius: 10px;
  padding: 2.5em;
  width: 23%;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
  margin-bottom: 2em;
}
.about__core__values__content__entry__icon {
  color: $primary;
}
.about__core__values__content__entry__icon svg {
  height: 70px;
}
.about__core__values__content__entry__heading {
  font-size: 22px;
  color: $black;
  margin: 0.7em 0em;
  font-weight: bold;
  font-family: Gilroy-ExtraBold, "jost", sans-serif;
}
.about__core__values__content__entry__info {
  color: $text;
  font-size: 16px;
}
.about__core__values__content__entry:hover {
  transition: 300ms ease-in-out;
  background-color: $primary;
}
.about__core__values__content__entry:hover * {
  color: white;
}
.about__our__promise {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -2em;
  margin-bottom: 3em;
}
.about__our__promise__heading {
  font-size: 45px;
  margin-bottom: 0.2em;
}
.about__our__promise__info {
  font-size: 16px;
  color: $text;
  margin-bottom: 4em;
}
.about__our__promise__content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1366px;
  padding: 0em 2em;
  padding-right: 0em;
}
.about__our__promise__content__entry {
  width: calc(50% - 4em);
  padding: 2em 2.5em;
  display: flex;
  background-color: white;
  border-radius: 10px;
  position: relative;
  margin-bottom: 2em;
  font-style: italic;
  margin-right: 4em;
}
.about__our__promise__content__entry::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: -3px;
  left: -3px;
  width: 100%;
  height: 105%;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.1),
    transparent
  );
  border-radius: 10px;
}
.about__our__promise__content__entry__number {
  font-size: 30px;
  margin-right: 1em;
  color: $primary;
}
.about__our__promise__content__entry__content__heading {
  font-size: 25px;
  font-family: Gilroy-ExtraBold, "jost", sans-serif;
  margin-bottom: 0.1em;
}
.about__our__promise__content__entry__content__info {
  color: $primary;
  font-weight: bold;
}
.about__our__promise__content__entry:hover {
  transition: 300ms ease-in-out;
  background-color: $primary;
}
.about__our__promise__content__entry:hover * {
  color: white;
}
.about__our__promise__content__entry:hover::before {
  transition: 300ms ease-in-out;
  background: $primary;
}
.about__key__differences {
  background-color: #181818;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6em 0em;
  margin: 7em 0em;
}
.about__key__differences__heading {
  font-size: 45px;
  margin-bottom: 0.5em;
  color: white;
  text-align: center;
  padding: 0em 2em;
}
.about__key__differences__info {
  color: $text;
  width: 100%;
  max-width: 900px;
  text-align: center;
  padding: 0em 2em;
  margin-bottom: 2em;
}
.about__key__differences__content {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1366px;
  flex-wrap: wrap;
  margin: 0em auto;
  padding: 2em;
  justify-content: space-between;
}
.about__key__differences__content__card {
  width: 30%;
  margin-bottom: 3em;
  position: relative;
  z-index: 3;
}
.about__key__differences__content__card__content {
  background-color: #2c2b2b;
  padding: 2em;
  border-radius: 10px;
}
.about__key__differences__content__card__icon {
  color: $primary;
}
.about__key__differences__content__card__heading {
  margin: 0.7em 0em;
  font-size: 20px;
  color: white;
  font-weight: bold;
}
.about__key__differences__content__card__info {
  color: $text;
  min-height: 90px;
}
.about__key__differences__content__card::before {
  content: "";
  position: absolute;
  top: 4%;
  left: 4%;
  width: 100%;
  height: 100%;
  background-color: #212121;
  z-index: -1;
  border-radius: 10px;
}
.about__key__differences__content__card::after {
  content: "";
  position: absolute;
  top: 8%;
  left: 8%;
  width: 100%;
  height: 100%;
  background-color: rgb(46, 46, 46, 0.2);
  z-index: -2;
  border-radius: 10px;
}
.about__key__differences__content__card:hover
  .about__key__differences__content__card__content {
  transition: 300ms ease-in-out;
  background-color: $primary;
}
.about__key__differences__content__card:hover
  .about__key__differences__content__card__content
  * {
  color: white;
}
.about__key__differences__content__card:hover::before {
  transition: 300ms ease-in-out;
  background-color: rgb(15, 170, 97, 0.5);
}
.about__key__differences__content__card:hover::after {
  transition: 300ms ease-in-out;
  background-color: rgb(15, 170, 97, 0.2);
}
.about__key__differences__featuers {
  width: 90%;
  max-width: 1000px;
  padding: 3em 16em;
  padding-right: 0em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: 1px solid $text;
  padding-bottom: 1em;
  border-radius: 10px;
  position: relative;
  margin-top: 5em;
  margin-bottom: 2em;
}
.about__key__differences__featuers__svg {
  position: absolute;
  top: -50px;
  left: -100px;
}
.about__key__differences__featuers__entry {
  width: 50%;
  display: flex;
  flex-direction: column;
  font-size: 25px;
  font-style: italic;
  height: 70px;
  color: white;
  font-family: Gilroy-Light, "jost", sans-serif;
  font-weight: bolder;
}
.about__key__differences__featuers__entry span {
  font-size: 16px;
  margin-top: 0.3em;
}
.about__endeavors {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 7em;
}
.about__endeavors__heading {
  font-size: 45px;
  margin-bottom: 1em;
  padding: 0em 2em;
  text-align: center;
}
.about__endeavors__content {
  width: 100%;
  max-width: 1366px;
  margin: 0em auto;
  padding: 0em 2em;
}
.about__endeavors__content img {
  width: 100%;
}
.about__press__releases {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 7em;
}
.about__press__releases__heading {
  font-size: 45px;
  margin-bottom: 1em;
  padding: 0em 2em;
  text-align: center;
}
.about__press__releases__content {
  width: 100%;
  max-width: 1366px;
  margin: 0em auto;
  padding: 0em 2em;
}
.about__press__releases__content img {
  width: 100%;
}
.about__achievements__awards {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about__achievements__awards__heading {
  font-size: 45px;
  margin-bottom: 0.5em;
  padding: 0em 2em;
  text-align: center;
}
.about__achievements__awards__info {
  color: $text;
  margin-bottom: 3em;
  padding: 0em 2em;
  text-align: center;
}
.about__achievements__awards__content {
  width: 100%;
  max-width: 1366px;
  margin: 0em auto;
  padding: 0em 2em;
}
.about__achievements__awards__content__entry {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about__achievements__awards__content__entry img {
  width: 150px;
  height: 150px;
  max-width: 100%;
  user-select: none;
}
@media (max-width: 1550px) {
  .home__stats {
    overflow: hidden;
  }
  .home__stats__svg {
    margin-right: -7em;
  }
}
@media (max-width: 1440px) {
  .header__content {
    max-width: 1200px;
  }
  .home__work__item {
    max-width: 1200px;
  }
  .home__stats__content {
    max-width: 1200px;
  }
  .home__services__content {
    max-width: 1200px;
  }
  .home__jumbotron__content {
    max-width: 1200px;
  }
  .home__jumbotron__content__left__heading {
    font-size: 40px;
  }
  .home__services__heading,
  .home__engagement__heading,
  .home__services__sub__heading,
  .home__work__heading,
  .home__development__process__heading,
  .home__technologies__heading,
  .home__techonologies__content__left__heading,
  .home__testmonials__heading,
  .home__help__heading,
  .home__blog__heading,
  .about__jumbotron__heading,
  .about__ceo__message__content__left__heading,
  .about__our__entry__heading,
  .about__team__heading,
  .about__our__development__process__heading,
  .about__core__values__heading,
  .about__our__promise__heading,
  .about__key__differences__heading,
  .about__endeavors__heading,
  .about__press__releases__heading,
  .about__achievements__awards__heading {
    font-size: 35px;
  }
  .home__technologies__content {
    max-width: 1200px;
  }
  .home__engagement__content {
    max-width: 1200px;
  }
  .home__work__item__img {
    width: 60%;
  }
  .home__work__item__content {
    width: 40%;
  }
  .home__techonologies__svg1 {
    display: none;
  }
}
@media (max-width: 1300px) {
  .home__stats__content__entry__heading {
    font-size: 50px;
  }
  .footer__content__col {
    min-width: 40%;
    max-width: 40%;
    margin-right: 0em;
    margin-bottom: 2em;
  }
  .footer {
    padding-bottom: 2em;
  }
  .about__core__values__content__entry {
    width: 48%;
  }
}
@media (max-width: 1200px) {
  .about__team__content__entry {
    width: 20%;
  }
  .home__stats__content__entry {
    min-width: 50%;
  }
  .home__stats__svg {
    top: 0px;
  }
  .home__stats__content__entry:last-child {
    margin-top: 3em;
  }
  .home__help__content__entry {
    min-width: 50%;
  }
}
@media (max-width: 1100px) {
  .about__key__differences__content__card {
    width: 48%;
  }
  .contact {
    height: fit-content;
    max-height: fit-content;
    padding: 7em 0em;
  }
  .contact__content__left__row {
    flex-direction: column;
  }
  .contact__content__left__row .contact__content__left__input {
    width: 100%;
  }
  .contact__content__left__row .contact__content__left__input:first-child {
    margin-right: 0em;
  }
  .home__work__item {
    flex-direction: column;
  }
  .home__work__item__img {
    min-width: 100%;
  }
  .home__work__item__content {
    width: 100%;
    margin-left: 0em;
  }
  .home__services {
    padding: 5em 0em;
    min-height: 100vh;
    height: fit-content;
    max-height: fit-content;
  }
  .home__services__content__card {
    width: 48%;
    margin-bottom: 2.5em;
  }
  .home__jumbotron {
    min-height: 100vh;
    height: fit-content;
    max-height: fit-content;
  }
  .home__jumbotron__content {
    flex-direction: column;
    justify-content: center;
  }
  .home__jumbotron__content__left {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    justify-content: center;
    margin-top: 5em;
  }
  .home__jumbotron__content__left * {
    text-align: center;
  }
  .home__jumbotron__content__left__info {
    max-width: 700px;
  }
  .home__jumbotron__content__right {
    width: 100%;
    height: 500px;
    margin-top: -4em;
  }
  .home__jumbotron__content__right__img {
    height: 100%;
  }
  .home__jumbotron__svg1 {
    left: 0px;
  }
  .home__services__svg1 {
    width: 30%;
  }
  .home__engagement {
    height: fit-content;
    max-height: fit-content;
    padding: 7em 0em;
  }
  .home__engagement__content__card {
    width: 100%;
    margin-right: 2em;
  }
  .home__engagement__content__card:first-child {
    margin-right: 2em;
    margin-bottom: 4em;
  }
  .home__testmonials__content__users__entry {
    margin: 2em;
  }
  .home__blog__content__entry {
    width: 48%;
  }
  .home__blog__content__entry:last-child {
    margin-top: 3em;
  }
  .about__ceo__message__content {
    flex-direction: column;
  }
  .about__ceo__message__content__left {
    width: 100%;
    text-align: center;
    margin-bottom: 2em;
  }
  .about__ceo__message__content__right {
    width: 100%;
    margin-left: 10em;
  }
  .about__team__content__entry {
    width: 25%;
  }
  .about__key__differences__featuers__svg {
    top: calc(50% - 150px);
    height: 300px;
  }
  .about__key__differences__featuers__entry {
    width: 100%;
  }
}

@media (max-width: 900px) {
  .about__our__promise__content__entry {
    width: 100%;
    margin-right: 3em;
  }
  .about__team__content__entry {
    width: 33%;
  }
  .about__our {
    flex-direction: column;
  }
  .about__our__entry {
    width: 100%;
  }
  .contact__content__left {
    margin-right: 0em;
  }
  .contact__content__right {
    display: none;
  }
  .contact__content__left__row {
    flex-direction: row;
  }
  .contact__content__left__row .contact__content__left__input {
    width: 100%;
  }
  .contact__content__left__row .contact__content__left__input:first-child {
    margin-right: 1em;
  }
  .home__techonologies__content {
    flex-direction: column;
    margin-top: -3em;
  }
  .home__techonologies__content__left {
    padding: 0em 2em;
  }
  .home__techonologies__content__left__heading {
    text-align: center;
  }
  .home__techonologies__content__left__info {
    text-align: center;
    margin-bottom: 4em;
  }
  .home__techonologies__content__right {
    margin-left: 0em;
  }
  .home__development__process__img {
    max-height: fit-content;
  }
  .header__content__menu {
    display: flex;
  }
  .header__content__nav {
    flex-direction: column;
    position: absolute;
    top: 6em;
    left: 0px;
    background-color: $black;
    width: 100%;
    padding: 0em 2em;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    padding-bottom: 1.5em;
    animation: header__content__nav__animation 300ms both;
    transform-origin: top;
  }
  @keyframes header__content__nav__animation {
    from {
      transform: scaleY(0);
    }
    to {
      transform: scaleY(1);
    }
  }
  .header__content__nav__link {
    width: 100%;
    justify-content: center;
  }
  .home__stats__content__entry__heading {
    font-size: 40px;
  }
  .home__stats__content__entry__content {
    font-size: 18px;
  }
  .home__technologies__content__entry {
    width: 46%;
  }
  .home__testmonials__content__users__entry {
    margin: 0em;
  }
}
@media (max-width: 800px) {
  .about__key__differences__content__card {
    width: 100%;
    margin-right: 1em;
  }
  .about__key__differences__featuers {
    padding: 3em;
    margin-top: 2em;
    padding-bottom: 1em;
  }
  .about__key__differences__featuers__svg {
    display: none;
  }
  .about__key__differences__featuers__entry {
    height: fit-content;
    margin-bottom: 1.5em;
  }
  .about__ceo__message__content__right {
    margin-left: 0em;
    margin-top: 4em;
    background: linear-gradient($primary, transparent);
    justify-content: center;
    padding-left: 0em;
    padding: 2em;
  }
  .about__ceo__message__content__right__img {
    top: -60px;
    left: calc(50% - 65px);
  }
  .about__ceo__message__content__right__info {
    margin-left: 0em;
    text-align: center;
    margin-top: 3em;
  }
  .footer__content__col {
    min-width: 100%;
    max-width: 100%;
  }
  .footer__content__col__info {
    max-width: 100%;
  }
  .home__newsletter__content {
    flex-direction: column;
    padding: 2em;
  }
  .home__newsletter__content__left {
    width: 100%;
    margin-bottom: 2em;
  }
  .home__newsletter__content__right {
    width: 100%;
  }
  .home__stats__content__entry {
    flex-direction: column;
    text-align: center;
  }
  .home__stats__content__entry__heading {
    margin-right: 0em;
  }
  .home__stats__svg {
    display: none;
  }
  .home__testmonials__content__users {
    flex-wrap: wrap;
    height: fit-content;
  }
  .home__testmonials__content__users__entry {
    margin: 2em !important;
  }
  .home__help__content__entry {
    min-width: 100%;
  }
  .home__blog__content__entry {
    margin-top: 3em;
    width: 100%;
  }
  .about__core__values__content__entry {
    width: 100%;
  }
}
@media (max-width: 650px) {
  .about__team__content__entry {
    width: 50%;
  }
  .contact__content__left__row {
    flex-direction: column;
  }
  .contact__content__left__row .contact__content__left__input:first-child {
    margin-right: 0em;
  }
  .home__help__slogan {
    font-size: 30px;
  }
  .home__technologies__content {
    padding: 2em 1em;
    padding-left: 0em;
  }
  .home__technologies__content__entry {
    width: 100%;
  }
  .home__techonologies__svg2 {
    top: 0px;
    left: 0px;
  }
}
@media (max-width: 600px) {
  .home__jumbotron__content__left__heading {
    font-size: 30px;
  }
  .home__services__heading,
  .home__engagement__heading,
  .home__services__sub__heading,
  .home__work__heading,
  .home__development__process__heading,
  .home__technologies__heading,
  .home__techonologies__content__left__heading,
  .home__testmonials__heading,
  .home__blog__heading,
  .about__jumbotron__heading,
  .about__ceo__message__content__left__heading,
  .about__our__entry__heading,
  .about__team__heading,
  .about__our__development__process__heading,
  .about__core__values__heading,
  .about__our__promise__heading,
  .about__key__differences__heading,
  .about__endeavors__heading,
  .about__press__releases__heading,
  .about__achievements__awards__heading,
  .contact__content__left__heading {
    font-size: 25px;
  }
  .contact__content__left__heading {
    margin-bottom: 2em;
  }
  .home__help__content__entry {
    flex-direction: column;
    padding: 1.5em 1em;
  }
  .home__testmonials {
    overflow: hidden;
    margin-top: -5em;
  }
  .home__help__content__entry__img {
    margin-right: 0em;
  }
  .home__help__content__entry__heading {
    margin-top: 1em;
    text-align: center;
  }
  .home__jumbotron__content__right {
    margin-top: -8em;
  }
  .home__jumbotron__content__right__img {
    width: 100%;
  }
  .home__jumbotron__svg1 {
    width: 50%;
    top: 0px;
  }
  .home__jumbotron__svg2 {
    width: 20%;
  }
  .home__jumbotron__svg3 {
    width: 50%;
  }
  .home__jumbotron__svg4 {
    width: 40%;
  }
  .home__services__content__card {
    width: 100%;
  }
  .home__stats__content__entry {
    min-width: 100%;
  }
  .home__stats__content__entry:nth-child(2) {
    margin-top: 2em;
  }
  .home__work__seletion {
    padding: 0em 0.5em;
  }
}
@media (max-width: 500px) {
  .home__newsletter__svg {
    display: none;
  }
  .home__engagement__content__card {
    margin-right: 0em !important;
  }
  .home__engagement__content__card__svg {
    display: none;
  }
  .home__testmonials__content__users__entry {
    margin: 0.5em !important;
  }
}
@media (max-width: 470px) {
  .header__content__cta .header__content__cta__button {
    display: none;
  }
  .header__content__nav .header__content__cta__button {
    display: flex;
    margin-top: 0.5em;
    width: 100%;
    justify-content: center;
    margin-left: 0em;
  }
  .home__testmonials__content__users {
    margin-left: -2em;
    margin-bottom: 2em;
  }
  .home__testmonials__content__users__entry {
    margin: 1em !important;
    width: 100px;
    height: 100px;
  }
}
